# name: CI and CD

# on: workflow_dispatch
#   #push:
#    # branches:
#     #  - main
    

# jobs: 
#   build:
#     runs-on: ubuntu-latest
#     steps: 
#       - name: Checkout
#         uses: actions/checkout@v6.0.1
#       - name: Setup Node.js environment
#         uses: actions/setup-node@v6.1.0
#       - name: install dependencies
#         run: npm install && npm run build
#       - name: Zip build folder
#         run: zip -r build.zip build        
#       - name: Upload a Build Artifact
#         uses: actions/upload-artifact@v6.0.0
#         with:
#           path: build.zip
#   deploy:
#     needs: build
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v6.0.1      
#       - name: Download a Build Artifact
#         uses: actions/download-artifact@v7.0.0
#       - name: SCP Files
#         uses: appleboy/scp-action@v1
#         with:
#           host: ${{ secrets.HOST }}
#           username: ${{ secrets.VM_USER }}
#           password: ${{ secrets.VM_PASSWORD }}
#           port: 22
#           source: build.zip
#           target: /tmp
#       - name: Execute remote SSH commands using password
#         uses: appleboy/ssh-action@v1
#         with:
#           host: ${{ secrets.HOST }}
#           username: ${{ secrets.VM_USER }}
#           password: ${{ secrets.VM_PASSWORD }}
#           port: 22
#           script: |
#             sudo apt update
#             sudo apt install nginx -y
#             sudo apt install unzip -y
#             # sudo mkdir -p /var/www/html
#             cd /tmp
#             sudo unzip -o build.zip
#             sudo cp -r build/* /var/www/html/
name: CI and CD

on: workflow_dispatch

jobs: 
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 18

      - name: Install dependencies & Build
        run: |
          npm install
          npm run build

      - name: Zip build folder
        run: zip -r build.zip build

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: build-artifact
          path: build.zip

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Download a Build Artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: build-artifact
          path: .
          extract: false       # <-- DO NOT EXTRACT ZIP

      - name: Debug list files
        run: ls -R .

      - name: SCP Files
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.VM_USER }}
          password: ${{ secrets.VM_PASSWORD }}
          port: 22
          source: build.zip
          target: /tmp
