#name: React CI Pipeline

on: 
  workflow_dispatch:
  #push:
   # branches:
    #  - main
  #pull_request:
   # branches:
    #  - main

jobs:
  build:
    name: Build React Application
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm



      - name: Install dependencies
        run: npm install


      - name: Build React app
        run: npm run build
        continue-on-error: true

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: react-build
          path: build
